*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: math;
}
.container-s{
    height: 100%;
    width: 100%;
}
.header-s{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: fixed;
    width: 100%;
    background-color: rgba(206, 206, 206, 0.616);
    padding-bottom: 20px;
    color:rgb(51, 51, 51);
    animation: down .6s linear;
}
@keyframes down{
    0%{
        transform: translatey(-100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}
.nav-s{
    width: 60%;
}
.nav-s ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
}
.nav-s ul a{
    text-decoration: none;
    transition: color .3s linear;
}
.nav-s a:hover{
    color: rgb(101, 101, 101);
}
.nav-s a:visited{
    color:rgb(51, 51, 51)
}
.serch-s{
    margin-right: 10px;
    margin-top: -10px;
}
.button-s{
    height: 40px;
    width: 70px;
    border-radius: 20px;
    background-color: gold;
    border: solid rgba(220, 223, 90, 0.241) 1px;
}
.button-s:hover{
    background-color: rgb(255, 241, 160);
}
.button-s:focus{
    background-color: rgb(127, 121, 85);
    color: aliceblue;
}
.logo-s{
    margin-top: -30px;
    font-size: 20px;
    animation: first .6s linear;
}
.cont2-s{
    height: 100%;
    width: 100%;
    padding-top: 7%;
    display: flex;
    justify-content: center;
}
.word-s{
    color: rgb(59, 59, 59);
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
}
.word-s p{
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 40px;
}
.but-s{
    margin: 40px;
    animation: first .6s linear;
}
.but-s span{
    color: rgb(255, 49, 34);
}
.h1-s span{
    color: rgb(255, 49, 34);
}
.but-s .button-s{
    margin-left: 10px;
}
.word-s img{
    border-radius: 50px;
    height: 100%;
    animation: sth .6s linear;
    width: 100%;
}
@keyframes sth{
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
.word-s h1{
    margin-top: -35px;
}
.but-s a{
    font-size: 20px;
}
.main-s{
    margin-bottom: 20px;
}
.key-s span{
    display: inline-block;
    height: 1px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.217);
    margin-bottom: 3px;
}
.this-s{
    text-align: center;
}
.themost-s{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: auto;
    gap: 50px;
}
.carde-s img{
    width: 100%;
    height: 300Px;
    border-radius: 20px 20px 0px 0px;
}
.carde-s{
    background-color:  rgb(246, 246, 246);
    line-height: 25px;
    padding-bottom: 30px;
    border-radius: 20px;
    transition: background-color .4s linear,transform .4s linear;
}
.key-s{
    padding: 10px;
    margin-bottom: 10px;
}
@keyframes first{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
.carde-s:hover{
    background-color: rgba(197, 197, 197, 0.692);
    transform: scale(1.05);
}
.button-s a{
    text-decoration: none;
}
.carde-s .button-s{
    margin-top: 10px;
    margin-left: 40%;
}
.footer-s{
    color: aliceblue;
    background-color: rgb(53, 53, 53);
    height: 220px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    line-height: 40px;
    margin-top: 70px;
}
.p-s i{
    margin: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.p-s i:hover{
    background-color: rgb(181, 181, 181);
    transform: scale(1.4);
    color: black;
}
@media (max-width:768px) {
    .header-s{
        display: flex;
        justify-content: space-around;
        position: static;
    }
    .header-s ul{
        margin-left: -10px;
    }
    .main-s{
        height: 1000px;
        margin-top: -290px;
    }
    .word-s{
        display: grid;
        grid-template-rows:1fr auto ;
    }
    .themost-s{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 95%;
        margin: auto;
    }
    .carde-s{
        height: 490px;
    }
    .carde-s .button-s{
        margin-top: -30px;
    }
}