*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: fixed;
    width: 100%;
    background-color: rgba(206, 206, 206, 0.616);
    padding-bottom: 20px;
    color:rgb(51, 51, 51);
    animation: down .6s linear;
}
@keyframes down{
    0%{
        transform: translatey(-100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}
nav{
    width: 60%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
}
nav ul a{
    text-decoration: none;
    transition: color .3s linear;
}
nav a:hover{
    color: rgb(101, 101, 101);
}
nav a:visited{
    color:rgb(51, 51, 51)
}
.serch{
    margin-right: 10px;
    margin-top: -10px;
}
button{
    height: 40px;
    width: 70px;
    border-radius: 20px;
    background-color: gold;
    border: solid rgba(220, 223, 90, 0.241) 1px;
}
button:hover{
    background-color: rgb(255, 241, 160);
}
button:focus{
    background-color: rgb(127, 121, 85);
    color: aliceblue;
}
.logo{
    margin-top: -30px;
    font-size: 20px;
    animation: first .6s linear;
}
.cont2{
    height: 100%;
    width: 100%;
    padding-top: 7%;
    display: flex;
    justify-content: center;
}
.word{
    color: rgb(59, 59, 59);
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
}
.word p{
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 40px;
}
.but{
    margin: 40px;
    animation: first .6s linear;
}
.but span{
    color: rgb(255, 49, 34);
}
h1 span{
    color: rgb(255, 49, 34);
}
.but button{
    margin-left: 10px;
}
.word img{
    border-radius: 50px;
    height: 100%;
    animation: sth .6s linear;
}
@keyframes sth{
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
.word h1{
    margin-top: -35px;
}
.but a{
    font-size: 20px;
}
main{
    margin-bottom: 20px;
}
.key span{
    display: inline-block;
    height: 1px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.217);
    margin-bottom: 3px;
}
.this{
    text-align: center;
}
.themost{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: auto;
    gap: 50px;
}
.carde img{
    width: 100%;
    height: 300Px;
    border-radius: 20px 20px 0px 0px;
}
.carde{
    background-color:  rgb(246, 246, 246);
    line-height: 25px;
    padding-bottom: 30px;
    border-radius: 20px;
    transition: background-color .4s linear,transform .4s linear;
}
.key{
    padding: 10px;
    margin-bottom: 10px;
}
@keyframes first{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
.carde:hover{
    background-color: rgba(197, 197, 197, 0.692);
    transform: scale(1.05);
}
button a{
    text-decoration: none;
}
.carde button{
    margin-top: 10px;
    margin-left: 40%;
}
.restart{
    background-color: rgb(62, 57, 0);
}
footer{
    color: aliceblue;
    background-color: rgb(53, 53, 53);
    height: 220px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    line-height: 40px;
}
p i{
    margin: 10px;
    font-size: 30px;
    border-radius: 50%;
}
p i:hover{
    background-color: rgb(181, 181, 181);
    transform: scale(1.4);
    color: black;
}